In [1]:
from random import randint
import pandas as pd
import numpy as np


def random_grades(num_of_grades):
    '''return number of grades with a column that denotes the letter'''
    grades = pd.DataFrame([randint(51,100) for _ in range(num_of_grades)],columns = ['student_id'])
    
    def grade_range(num):
        '''apply to a column to determine which letter grade it  should be '''
        
        if (num >= 90):
            val = 'A'
        elif (num >= 80 and num < 90):
            val = 'B'
        elif (num >= 70 and num < 80):
            val = 'C'
        elif (num >= 60 and num < 70):
            val = 'D'
        else:
            val = 'F'
        return val
    
    grades['grade'] = grades.student_id.apply( grade_range)
    
    grades_grouped = grades.groupby(['grade']).count()

    return grades_grouped

In [2]:
random_grades(40)

       student_id
grade
A              11
B               8
C               4
D              13
F               4