In [1]:
from random import randint
import pandas as pd
import numpy as np
from collections import defaultdict
def car_stats(number_of_people):
    """generate random sequence of numbers weighted by the probabilities of each outcome
    no_car_and_have_kids =  .2

    1 = have_car_and_have_children
    2 = have_car_and_no_children
    3 =  no_car_and_no_kids
    4 = no_car_and_have_kids
    """  
 
    aus = pd.DataFrame([np.random.choice(np.arange(1, 5), p=[.13, .12, .55, .2]) for _ in range(number_of_people)])
    
    aus['children']=aus[0].apply(lambda x: True if x==1 or x==4 else False)
    aus['large_car']=aus[0].apply(lambda x: True if x ==2 or x ==1 else False)
    
    return pd.crosstab(aus.children, aus.large_car, margins=True)

In [2]:
car_stats(300)

large_car  False  True  All
children
False        176    40  216
True          53    31   84
All          229    71  300